<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Grupo No. 2</h4>
                      <p class="card-category">  ARQUITECTURA DE COMPUTADORES Y ENSAMBLADORES 2 Sección B</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Carnet
                                  </th>
                                  <th>
                                      Nombres
                                  </th>
                                  <th>
                                      Apellidos
                                  </th>
                                  
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                        201314821
                                      </td>
                                      <td>
                                        Melyza Alejandra
                                      </td>
                                      <td>
                                        Rodriguez Contreras 
                                      </td>
                                     
                                  </tr>
                                  <tr>
                                      <td>
                                        201114236
                                      </td>
                                      <td>
                                        José Fernando
                                      </td>
                                      <td>
                                        Recinos Acuté 
                                      </td>
                                      
                                  </tr>
                                  <tr>
                                      <td>
                                        201403541
                                      </td>
                                      <td>
                                        Uzzi Libni Aarón
                                      </td>
                                      <td>
                                        Pineda Solórzano
                                      </td>
                                      
                                  </tr>
                                  <tr>
                                      <td>
                                          200112856
                                      </td>
                                      <td>
                                         Juan Orlando 
                                      </td>
                                      <td>
                                        Cabrera Samayoa
                                      </td>
                                     
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
